/.ipynb_checkpoints
/01-Data-Visualisation
/02. Machine Learning
/03. Statistical Methods
/04. SQL
/05. Python setup
/06-Google Trends
/10. Advanced Python concepts
/11. DataCamp
/12. Udacity
/13. Kaggle
/21. Portfolio
/22. Shares
/31. Books
/51-Case-Studies
/Analytical Tools
/Datasets
/Data_Assets
/Date and datetime
/README.md
/Reference
/Send emails
/Webscrapping